extends navbar

block content
  .container
    h1= title
    if user
      p 
        | Hello, #{user.username} !
        br
        | Your Role : #{user.role}
        br
        | Your Email : #{user.email}
    else
      p Welcome to #{title}
