extends navbar

block content
  .container
    h1= title
    if !user
      p Welcome to #{title}
    else
      p 
        | Hello, #{user.username} !
        br
        | Your Role : #{user.role}
        br
        | Your Email : #{user.email}
      table.table.table-hover
        thead
          tr
            th username
            th role
            th email
            if user.role === "Admin"
              th action
        tbody
          - for(var i = 0 ; i < dataStudent.length ; i++)
            tr
              td #{dataStudent[i].username}
              td #{dataStudent[i].role}
              td #{dataStudent[i].email}
              if user.role === "Admin"
                td
                  a(href="/edit/#{dataStudent[i]._id}" class="btn btn-info") Edit
                  a(href="/delete/#{dataStudent[i]._id}" class="btn btn-danger" onclick="return confirm('Are You Sure Want To Delete? ')") Delete
